.back{
    background-size: cover;
    height: 1000px;
    background-image:url(bag_in_mountain.jpg);
}

.title{
    color: #000;
    padding: 10px;
    margin: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}





 /* content */
.column{
    font-size: xx-large;
    text-align: center;
    margin-top: 70px;
}

.text{
    text-align: center;
    margin-top: 20px;
}

.product1{
    margin-left: 8px;
    display: inline-block;
    text-align: center;
}

.news{
    margin: 100px;
}

.container{
    text-align: center;
}


.page-title .page-text{
    text-align: left;
}

.page-title{
    border-bottom:1px solid #ddd;
    padding: 20px 0 10px;
}

.page-text{
    padding: 20px 0 80px;
}

.news-list{
    width: 80%;
    margin: 0 auto;
}



.news-list li{
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid;
}

.news-list a{
    color: #3e3e3b;
}

/* external css : flickity.css */
/* flickity */
.gallery {
    background: #fff;
}

.gallery-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    counter-increment: gallery-cell; 
}

/* cell number */
.gallery-cell:before{
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
}


