body,div,iframe,h3,p,
table,tbody,tr,th,td{
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    list-style: none;
    text-decoration: none;
    vertical-align: baseline;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}


h3{
    font-size: 30px;
}

.wrapper{
    width: 70%;
    padding: 80px 0 30px;
    margin: 0 auto;
}

    .wrapper-title{
        text-align: center;
        margin-bottom: 30px;
    }

    .wrapper-title p{
        color: #4c586f;
    }

    .last-wrapper {
        margin-bottom: 80px;
    }


.about-table{
    text-align: left;
    width: 100%; 
}

    .about-table th,td{
        padding: 10px 0;
    }

    .about-table th{
        width: 30%;
        vertical-align: top;
    }

    iframe{
        width: 100%;
    }